<div class="container-fluid">
  <nav-bar></nav-bar>
</div>

<div  class="container dashboard-container">

    <div class="row">
      <div class="col-md-12">
            <table id="example" class="table table-striped table-bordered dashboard-table" cellSpacing="0">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Name</th>
                <th>LAI</th>
                <th>Actions</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img alt="image" class="dashboard-table-avatar" src="../../assets/img/1065-IMG_2529.jpg">
                </td>
                <td class="dashboard-fix-td-margin">Karam</td>
                <td><img alt="image" class="dashboard-table-avatar" src="../../assets/img/1065-IMG_2529.jpg"></td>
                <td class="dashboard-fix-td-margin">5 Actions</td>
                <td class="dashboard-fix-td-margin">200pts</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>
