
<div class="list-group-item">
        <div>
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon2"/>
             <span class="input-group-addon" id="basic-addon2">@octoconsulting.com</span>
           </div>

           <div class="form-group">
             <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon2"/>
             <span class="input-group-addon" id="basic-addon2">'Between 8 - 12 char'</span>
           </div>
        </div>
        <div class="button_pos">
          <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
              <button (click)="sign_in_click()" class="btn btn-warning">LOG IN </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
              <button (click)="sign_up_click()" class="btn btn-warning">SIGN UP </button>
            </div>
          </div>
        </div>
  </div>
